body {
    font-family: monospace;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.61);
}

a {
    text-decoration: aliceblue;
    color: white;
}

#header {
    color: white;
    background: rgb(0, 137, 228);
    padding: 20px;
    padding-top: 30px;
    height: 50px; 
    margin: -10px -10px 0px -10px;
}

#header h1 {
    text-align: center;
    color: white;
    margin: 0;
    float: left;
}

#header button {
    margin: 0;
    float: right;
}

#content {
    margin: 30px;
}

#contentlog {
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    border-style: solid;
    border-radius: 5px;
    align-content: center;
}

.op {
    border-style: solid;
    border-color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    background-color: rgb(0, 137, 228);
}

.op:hover {
    background-color: black;
    color: white;
}

.cat {
    border-style: ridge;
    background-color: rgb(0, 137, 228);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
    border: solid;
    border-color: blueviolet;
}

.cat:hover {
    background-color: black;
    color: blueviolet;
}

#itemview {
    width: 100%;
    border: solid;
    border-style: solid;
    font-size: 20px;
}

#itemview th, td {
    border-style: solid;
    border-width: 1px;
    width: 50%;
    text-align: center;
}

.opform {
    align-self: center;
    border-style: solid;
    width: 90%;
    padding: 2.5%;
}

.opform input {
    font-family: inherit;
    width: 100%;
    padding: 0px;
}

.message {
    background-color: rgb(38, 206, 38);
    color: white;
    width: 100%;
    padding:2.5px;
    margin-left: -10px;
    padding-left: 10px;;
}

#error {
    border-style: solid;
    border-color: black;
    border-width: 5px;
    border-radius: 10px;
    padding: 50px;
    background-color: white;
}

#error h1 {
    font-size: 30px;    ;
}

#error a {
    color: blue;
}