body {
    font-family: sans-serif;
    align-items: center;
}

a {
    text-decoration: aliceblue;
    color: black;
}

#header {
    color: white;
    background: blueviolet;
    padding: 10px;
    height: 50px; 
}

#header h1 {
    text-align: center;
    color: black;
    margin: 0;
    float: left;
}

#header button {
    margin: 0;
    float: right;
}

#content {
    margin: 30px;
}

.op {
    border: solid;
    border-color: white;
    margin-right: 10px;
    border: 50px;
    width: 150px;
    height: 50px;
    background-color: blueviolet;
}

.cat {
    border-color: blueviolet;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    border: solid;
    width: 40%;
}

#itemview {
    width: 100%;
    border: solid;
    border-style: solid;
}