{% extends "main.html" %}
{% block content %}
    <form class="opform" action="{{ target_url }}" method="POST">
        <legend><h2>Create Item</h2></legend>
        Name:<br>
        <input type="text" name="name" placeholder="Name" required><br>
        Description:<br>
        <input type="text" name="description" placeholder="Description"><br>
        Category: <br>
        <select name="category" required>
            <option value="0">---</option>
            {% for i in c %}
                <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
        </select><br>
        Url:<br>
        <input type="text" name="url" placeholder="URL"><br><br>
        <input type="submit" value="Submit" class="op">
    </form>
{% endblock %}
