{% extends "main.html" %}
{% block content %}
<form class="opform" action="{{ target_url }}" method="POST">
    <legend><h2>Edit Item: {{item.name}}</h2></legend>
        Name: <input type="text" name="name" placeholder="{{item.name}}"><br><br>
        Description: <input type="text" name="description" placeholder="{{item.description}}"><br><br>
        Category: <br>
        <select name="category">
            <option value="{{category.id}}">{{category.name}}</option>
            {% for c in categories %}
                <option value="{{c.id}}">{{c.name}}</option>
            {% endfor %}
        </select><br><br>
        Url:<br>
        <input type="text" name="url" placeholder="{{item.url}}">
        <br><br>
        <input type="submit" value="Submit" class="op">
    </form>

{% endblock %}