{% extends "main.html" %}
{% block content %}
<form class="opform" action="{{ target_url }}" method="POST">
        Name: <input type="text" name="name" placeholder="{{item.name}}"><br>
        Description: <input type="text" name="description" placeholder="{{item.description}}"><br>
        Category: 
        <select name="category">
            <option value="0">---</option>
            <option value="1">Audio</option>
            <option value="2">Browsers</option>
            <option value="3">Database</option>
            <option value="4">Developer Tools</option>
            <option value="5">Gaming</option>
            <option value="6">Operating Systems</option>
            <option value="7">Theming/Ricing</option>
            <option value="8">System</option>
            <option value="9">Utilities</option>
        </select><br>
        <input type="url" name="url" placeholder="{{item.url}}">
        <input type="submit" value="Submit">
    </form>

{% endblock %}