{% extends 'main.html' %}
{% block content %}
{{c.name}}/{{item.name}}
<br>
<button class="op"><a href="{{url_for('editItem', category_id = c.id, item_id = item.id)}}">Edit</a></button>
<button class="op"><a href="{{url_for('deleteItem', category_id = c.id, item_id = item.id)}}">Delete</a></button>

<table id="itemview">
        <tr>
            <th>Name</th>
            <td>{{item.name}}</td>
        </tr>
        <tr>
            <th>Category</th>
            <td><a href="{{ url_for('viewCategory', category_id = c.id) }}">{{c.name}}</a></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{item.description}}</td>
        </tr>
        <tr>
            <th>URL</th>
            <td>{{item.url}}</td>
        </tr>
</table>


{% endblock %}