<!DOCTYPE html>
<html>
    <head>
        <title>FOSS Catalog</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="header">
            <h1><a href="{{ url_for('viewCatalog') }}">FOSS Catalog</a></h1>
            {% if 'name' not in session %}
            <a href="{{url_for('showLogin')}}"><button class="op">Login</button></a>
            {% else %}
            <a href="{{url_for('gdisconnect')}}"><button class="op">Logout</button></a>
            {% endif %}
        </div>
        <div class="message">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p> {{ message }} </p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div id="content">
                {% if 'name' in session %}
                <p>Logged in as {{ session['name'] }}</p><br>
                {% endif %}
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>