<!DOCTYPE html>
<html>
    <head>
        <title>FOSS Catalog</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
    </head>
    <body>
        <div id="header">
            <h1><a href="{{ url_for('viewCatalog') }}">FOSS Catalog</a></h1>
            <button class="op">Login</button>
            <!-- Conditional login/create button-->
        </div>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>